@charset "utf-8";
@import "./normalise";
@import "./general.scss";
@import "./visually-hidden";
@import "./blocks/all.scss";
@import "./mixin.scss";
@import "./variables";

body {
    max-height: 841px;
    background-image: url(../images/header\ fon.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
}